<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB85DOazIr4mUcFJUVoJ5BvRX7bg0_HWTg</string>
	<key>GCM_SENDER_ID</key>
	<string>955008292068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daitonbo2005.Echoo</string>
	<key>PROJECT_ID</key>
	<string>echoo-2e909</string>
	<key>STORAGE_BUCKET</key>
	<string>echoo-2e909.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955008292068:ios:c54c4f966721895bd048f1</string>
</dict>
</plist>